[project]
	description = Extends ActiveRecord allowing your models to reside on a remote server: instant service oriented architecture
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Keith Gould (keithmgould)
[access "refs/for/refs/*"]
	read = group user/Keith Gould (keithmgould)
	push = group user/Keith Gould (keithmgould)
	label-Code-Review = -2..+2 group user/Keith Gould (keithmgould)
	label-Verified = -1..+1 group user/Keith Gould (keithmgould)
	rebase = group user/Keith Gould (keithmgould)
	removeReviewer = group user/Keith Gould (keithmgould)
	submit = group user/Keith Gould (keithmgould)
[access "refs/heads/*"]
	read = group user/Keith Gould (keithmgould)
	create = group user/Keith Gould (keithmgould)
	push = +force group user/Keith Gould (keithmgould)
	pushMerge = group user/Keith Gould (keithmgould)
[access "refs/tags/*"]
	push = +force group user/Keith Gould (keithmgould)
	pushTag = group user/Keith Gould (keithmgould)
	pushSignedTag = group user/Keith Gould (keithmgould)
